
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/Question.css" />

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 bodyclassify">
        <div class="tennoidung">CÂU HỎI THƯỜNG GẶP</div>
        <table class="theloai">
            <tr>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hellokjdshfkshdkjglksjdf</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="theloaicantim">
                        <a href="https://portal.huflit.edu.vn/Login">hello</a>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-2"></div>
