
@{
    ViewBag.Title = "SP";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/SP.css" />



<style>
    .navigation-name {
        margin: 0 auto;
    }
    .hotro{
        margin-bottom:200px;
    }
</style>

<div class="hotro">
    <span class="navigation-container">

        <ul class="navigation ">
            <li class="navigation-name">
                <a>Game mới</a>
                <ul class="menu-navigation bang1">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation bang1">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation bang1">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation bang1">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation bang1">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
        </ul>
        <br />
        <ul class="navigation ">
            <li class="navigation-name">
                <a>Game mới</a>
                <ul class="menu-navigation bang2">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation bang2">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation bang2">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation bang2">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation bang2">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
        </ul>
        <br />
        <ul class="navigation ">
            <li class="navigation-name">
                <a>Game mới</a>
                <ul class="menu-navigation">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
            <li class="navigation-name">
                <a href="">Game mới</a>
                <ul class="menu-navigation">
                    <li><a href="">Game mới.1</a></li>
                    <li><a href="">Game mới.2</a></li>
                    <li><a href="">Game mới.3</a></li>
                    <li><a href="">Game mới.4</a></li>
                    <li><a href="">Game mới.5</a></li>
                </ul>
            </li>
        </ul>
    </span>
</div>