USE [master]
GO
/****** Object:  Database [CitricStore]    Script Date: 11-Nov-22 15:11:05 ******/
CREATE DATABASE [CitricStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CitricStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CitricStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CitricStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CitricStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CitricStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CitricStore]
GO
/****** Object:  User [Test]    Script Date: 11-Nov-22 15:11:06 ******/
CREATE USER [Test] FOR LOGIN [Test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CanhPhong]    Script Date: 11-Nov-22 15:11:06 ******/
CREATE USER [CanhPhong] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Test]
GO
ALTER ROLE [db_owner] ADD MEMBER [CanhPhong]
GO
/****** Object:  Table [dbo].[APP]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP](
	[MaApp] [int] IDENTITY(1,1) NOT NULL,
	[TenApp] [nvarchar](100) NOT NULL,
	[GioiThieu] [ntext] NULL,
	[DungLuong] [nvarchar](10) NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[HeDieuHanh] [nvarchar](50) NULL,
	[LinkTai] [ntext] NULL,
	[MaTheLoaiApp] [int] NULL,
	[MaNPH] [int] NULL,
	[MaHDH] [int] NULL,
	[MaNgonNgu] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[DanhGia] [nvarchar](5) NULL,
	[HinhNen] [nvarchar](30) NULL,
	[HinhCT1] [nvarchar](30) NULL,
	[HinhCT2] [nvarchar](30) NULL,
	[HinhCT3] [nvarchar](30) NULL,
	[HinhCT4] [nvarchar](30) NULL,
 CONSTRAINT [PK_APP] PRIMARY KEY CLUSTERED 
(
	[MaApp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GAME]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAME](
	[MaGame] [int] IDENTITY(1,1) NOT NULL,
	[TenGame] [nvarchar](100) NOT NULL,
	[GioiThieu] [ntext] NULL,
	[DungLuong] [nvarchar](10) NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[HeDieuHanh] [nvarchar](50) NULL,
	[LinkTai] [ntext] NULL,
	[MaTheLoaiGame] [int] NULL,
	[MaNPH] [int] NULL,
	[MaHDH] [int] NULL,
	[MaNgonNgu] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[DanhGia] [nvarchar](5) NULL,
	[HinhNen] [nvarchar](30) NULL,
	[HinhCT1] [nvarchar](30) NULL,
	[HinhCT2] [nvarchar](30) NULL,
	[HinhCT3] [nvarchar](30) NULL,
	[HinhCT4] [nvarchar](30) NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[MaGame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HEDIEUHANH]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEDIEUHANH](
	[MaHDH] [int] IDENTITY(1,1) NOT NULL,
	[TenHDH] [nvarchar](50) NULL,
 CONSTRAINT [PK_HEDIEUHANH] PRIMARY KEY CLUSTERED 
(
	[MaHDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKH] [nvarchar](50) NOT NULL,
	[DienthoaiKH] [varchar](10) NULL,
	[TenDN] [varchar](15) NULL,
	[Matkhau] [varchar](15) NOT NULL,
	[Ngaysinh] [smalldatetime] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGONNGU]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGONNGU](
	[MaNgonNgu] [int] IDENTITY(1,1) NOT NULL,
	[TenNgonNgu] [nvarchar](70) NULL,
 CONSTRAINT [PK_NGONNGU] PRIMARY KEY CLUSTERED 
(
	[MaNgonNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHATHANH]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHATHANH](
	[MaNPH] [int] IDENTITY(1,1) NOT NULL,
	[TenNPH] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_NHAPHATHANH] PRIMARY KEY CLUSTERED 
(
	[MaNPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEARCH_THELOAI]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEARCH_THELOAI](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_SEARCH_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEARCHALL]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEARCHALL](
	[MaSearch] [int] IDENTITY(1,1) NOT NULL,
	[TenSearch] [nvarchar](100) NOT NULL,
	[GioiThieu] [ntext] NULL,
	[DungLuong] [nvarchar](10) NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[HeDieuHanh] [nvarchar](50) NULL,
	[LinkTai] [ntext] NULL,
	[MaNPH] [int] NULL,
	[MaHDH] [int] NULL,
	[MaNgonNgu] [int] NULL,
	[MaTheLoai] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[DanhGia] [nvarchar](5) NULL,
	[HinhNen] [nvarchar](30) NULL,
	[HinhCT1] [nvarchar](30) NULL,
	[HinhCT2] [nvarchar](30) NULL,
	[HinhCT3] [nvarchar](30) NULL,
	[HinhCT4] [nvarchar](30) NULL,
 CONSTRAINT [PK_All] PRIMARY KEY CLUSTERED 
(
	[MaSearch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAIAPP]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAIAPP](
	[MaTheLoaiApp] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_THELOAIAPP] PRIMARY KEY CLUSTERED 
(
	[MaTheLoaiApp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAIGAME]    Script Date: 11-Nov-22 15:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAIGAME](
	[MaTheLoaiGame] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_THELOAIGAME] PRIMARY KEY CLUSTERED 
(
	[MaTheLoaiGame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SEARCH_THELOAI] ON 

INSERT [dbo].[SEARCH_THELOAI] ([MaTheLoai], [TenTheLoai]) VALUES (1, N'Giải Đố')
INSERT [dbo].[SEARCH_THELOAI] ([MaTheLoai], [TenTheLoai]) VALUES (2, N'Phiêu Lưu')
INSERT [dbo].[SEARCH_THELOAI] ([MaTheLoai], [TenTheLoai]) VALUES (3, N'3D')
SET IDENTITY_INSERT [dbo].[SEARCH_THELOAI] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__4CF965589E293A12]    Script Date: 11-Nov-22 15:11:07 ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__A9D105349013C417]    Script Date: 11-Nov-22 15:11:07 ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APP]  WITH CHECK ADD  CONSTRAINT [FK_APP_HEDIEUHANH] FOREIGN KEY([MaHDH])
REFERENCES [dbo].[HEDIEUHANH] ([MaHDH])
GO
ALTER TABLE [dbo].[APP] CHECK CONSTRAINT [FK_APP_HEDIEUHANH]
GO
ALTER TABLE [dbo].[APP]  WITH CHECK ADD  CONSTRAINT [FK_APP_NGONNGU] FOREIGN KEY([MaNgonNgu])
REFERENCES [dbo].[NGONNGU] ([MaNgonNgu])
GO
ALTER TABLE [dbo].[APP] CHECK CONSTRAINT [FK_APP_NGONNGU]
GO
ALTER TABLE [dbo].[APP]  WITH CHECK ADD  CONSTRAINT [FK_APP_NHAPHATHANH] FOREIGN KEY([MaNPH])
REFERENCES [dbo].[NHAPHATHANH] ([MaNPH])
GO
ALTER TABLE [dbo].[APP] CHECK CONSTRAINT [FK_APP_NHAPHATHANH]
GO
ALTER TABLE [dbo].[APP]  WITH CHECK ADD  CONSTRAINT [FK_APP_THELOAIAPP] FOREIGN KEY([MaTheLoaiApp])
REFERENCES [dbo].[THELOAIAPP] ([MaTheLoaiApp])
GO
ALTER TABLE [dbo].[APP] CHECK CONSTRAINT [FK_APP_THELOAIAPP]
GO
ALTER TABLE [dbo].[GAME]  WITH CHECK ADD  CONSTRAINT [FK_GAME_HEDIEUHANH] FOREIGN KEY([MaHDH])
REFERENCES [dbo].[HEDIEUHANH] ([MaHDH])
GO
ALTER TABLE [dbo].[GAME] CHECK CONSTRAINT [FK_GAME_HEDIEUHANH]
GO
ALTER TABLE [dbo].[GAME]  WITH CHECK ADD  CONSTRAINT [FK_GAME_NGONNGU] FOREIGN KEY([MaNgonNgu])
REFERENCES [dbo].[NGONNGU] ([MaNgonNgu])
GO
ALTER TABLE [dbo].[GAME] CHECK CONSTRAINT [FK_GAME_NGONNGU]
GO
ALTER TABLE [dbo].[GAME]  WITH CHECK ADD  CONSTRAINT [FK_GAME_NHAPHATHANH] FOREIGN KEY([MaNPH])
REFERENCES [dbo].[NHAPHATHANH] ([MaNPH])
GO
ALTER TABLE [dbo].[GAME] CHECK CONSTRAINT [FK_GAME_NHAPHATHANH]
GO
ALTER TABLE [dbo].[GAME]  WITH CHECK ADD  CONSTRAINT [FK_GAME_THELOAIGAME] FOREIGN KEY([MaTheLoaiGame])
REFERENCES [dbo].[THELOAIGAME] ([MaTheLoaiGame])
GO
ALTER TABLE [dbo].[GAME] CHECK CONSTRAINT [FK_GAME_THELOAIGAME]
GO
ALTER TABLE [dbo].[SEARCHALL]  WITH CHECK ADD  CONSTRAINT [FK_SEARCHALL_HEDIEUHANH] FOREIGN KEY([MaHDH])
REFERENCES [dbo].[HEDIEUHANH] ([MaHDH])
GO
ALTER TABLE [dbo].[SEARCHALL] CHECK CONSTRAINT [FK_SEARCHALL_HEDIEUHANH]
GO
ALTER TABLE [dbo].[SEARCHALL]  WITH CHECK ADD  CONSTRAINT [FK_SEARCHALL_NGONNGU] FOREIGN KEY([MaNgonNgu])
REFERENCES [dbo].[NGONNGU] ([MaNgonNgu])
GO
ALTER TABLE [dbo].[SEARCHALL] CHECK CONSTRAINT [FK_SEARCHALL_NGONNGU]
GO
ALTER TABLE [dbo].[SEARCHALL]  WITH CHECK ADD  CONSTRAINT [FK_SEARCHALL_NHAPHATHANH] FOREIGN KEY([MaNPH])
REFERENCES [dbo].[NHAPHATHANH] ([MaNPH])
GO
ALTER TABLE [dbo].[SEARCHALL] CHECK CONSTRAINT [FK_SEARCHALL_NHAPHATHANH]
GO
ALTER TABLE [dbo].[SEARCHALL]  WITH CHECK ADD  CONSTRAINT [FK_SEARCHALL_THELOAI] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[SEARCH_THELOAI] ([MaTheLoai])
GO
ALTER TABLE [dbo].[SEARCHALL] CHECK CONSTRAINT [FK_SEARCHALL_THELOAI]
GO
USE [master]
GO
