<a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration: none; color: red; font-weight: bold">
    <img src="~/Images/LOGO/Cart.png" style="width:30px; height:30px;"/> Cart (@ViewBag.TotalNumber)
</a>
