@model CitricStore.Models.NGONNGU

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<div style="margin: 10px auto; width: 90%;">
    <h2 style="text-align: center">NHẬP DỮ LIỆU NGÔN NGỮ</h2>
    <h3 style="text-align: center; color: red;">CHI TIẾT NGÔN NGỮ</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                TÊN NGÔN NGỮ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenNgonNgu)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNgonNgu }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Quay về trang tổng hợp", "Index")
    </p>
</div>