@model CitricStore.Models.HEDIEUHANH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<div style="margin: 10px auto; width: 90%;">
    <h2 style="text-align: center">NHẬP DỮ LIỆU HỆ ĐIỀU HÀNH</h2>
    <h3 style="text-align: center; color: red;">CHI TIẾT HỆ ĐIỀU HÀNH</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                TÊN HỆ ĐIỀU HÀNH
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenHDH)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaHDH }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Quay về trang tổng hợp", "Index")
    </p>
</div>