@using CitricStore.Models

@foreach (var app in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="bloggame">
            <div class="imageblog">
                <img class="card-img-top imageblog-width-height" src="~/Images/@app.HinhNen" alt="Card image">
            </div>
            <div class="">
                <div class="bloggame-title h4">
                    <a class="fix-line">@app.TenApp</a>
                </div>
                <div class="bloggame-theloai">
                    Thể loại: @Html.Action("TenTheLoai_Bloggame", "CitricStore")
                </div>
                <a class="bloggame-download" href="@Url.Action("DetailsApp", "CitricStore", new {id=app.MaApp})" style="text-decoration:none">
                    <div class="bloggame-download-btn">
                        Chi Tiết
                    </div>
                </a>
            </div>
        </div>
    </div>
}



