
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<h1 style="color:aliceblue; font-style:revert">
    Câu hỏi thường gặp
</h1>
<h2 style="color:aliceblue;></h2>
