body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #303e47;
}
#div-header {
    background-color: darkblue;
    width: 100%;
    height: 52px;
    z-index: 1;
    min-width: 1000px;
    top: 0;
}

#div-main {
    background-color: #e3c99a;
    height: 3580px;
    width: 1200px;
    margin: 0 auto;
    min-width: 1000px;
    flex-grow: 1;
    z-index: auto;
}


/*-------------HEADER-------------*/
.logo {
    background-color: blueviolet;
    height: 52px;
    width: 52px;
    margin-left: 30px;
    position: absolute;
}

.tenweb {
    background-color: white;
    position: absolute;
    width: 118px;
    height: 52px;
    margin-left: 82px;
    text-align: center;
}

.header-left-container {
    background-color: darkgreen;
    height: 52px;
    width: 45%;
    margin-left: 200px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.header-left {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-left-name {
    padding: 15px;
}

.header-right-container {
    background-color: plum;
    height: 52px;
    width: 25%;
    right: 0px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
}

.header-right {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-right-name {
    padding: 15px;
}

/*-------------FOOTER-------------*/
#footer {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 140px;
    background-color: violet;
    margin: 0 auto;
}

.footer-logo-name-container {
    width: 120px;
    height: 130px;
    background-color: aqua;
    align-items: center;
}

.footer-logo {
    background-color: pink;
    height: 52px;
    width: 52px;
    margin: 0 auto;
}

.footer-tenweb {
    background-color: brown;
    width: 120px;
    height: 52px;
    text-align: center;
}

.ngaytaoweb {
    background-color: aqua;
    height: 130px;
    width: 300px;
}

.ngaytaoweb-caption {
    height: 50px;
    width: 300px;
    padding-top: 65px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: white;
}

.gioithieutrangweb {
    background-color: aqua;
    height: 130px;
    width: 500px;
    top: 0;
}

.timchungtoi {
    background-color: aqua;
    height: 130px;
    width: 264px;
    flex-direction: column;
}

.icon_lienlac {
    margin-top: 100px;
    margin-left: 10px;
    font-size: 30px;
    color: white;
}

/*FOOTER TRÀN VIỀN*/
/*.footer{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 140px;
   background-color: violet;
   margin: 0 auto;
   min-width: 1000px;
   z-index: 3;
}
.footer>table{
   margin: 0 auto;
}
.footer-logo-name-container{
   width: 300px;
   height: 130px;
   background-color: aqua;
   align-items: center;
}
.footer-logo{
   background-color: pink;
   height: 52px;
   width: 52px;
   margin: 0 auto;
}
.footer-tenweb{
   background-color: brown;
   width: 120px;
   height: 52px;
   text-align: center;
}
.ngaytaoweb{
   background-color: aqua;
   height: 130px;
   width: 300px;
}
.ngaytaoweb-caption{
   height: 50px;
   width: 300px;
   padding-top: 65px;
   font-size: 20px;
   text-align:center;
   align-items: center;
   color: white;
}
.gioithieutrangweb{
   background-color: aqua;
   height: 130px;
   width: 500px;
   top: 0;
}
.timchungtoi{
   background-color:aqua;
   height: 130px;
   width: 300px;
   flex-direction: column;
}
.icon_lienlac{
   margin-top: 100px;
   margin-left: 10px;
   font-size: 30px;
   color: white;
}*/