@model CitricStore.Models.THELOAI

@{
    ViewBag.Title = "Chi Tiết Thể Loại";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<div style="margin: 10px auto; width: 90%;">
    <h2 style="text-align: center">NHẬP DỮ LIỆU THỂ LOẠI</h2>
    <h3 style="text-align: center; color: red;">CHI TIẾT THỂ LOẠI</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                TÊN THỂ LOẠI
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenTheLoai)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaTheLoai }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Quay về trang tổng hợp", "Index")
    </p>
    </div>